<div id="home" class="container">
    <div class="col-md-12 row">
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/map.png">
            <h3 class="text-center step_text">Lorem ipsum factum asfdkafj dsafaf fh asfouafh ashfu huhhsafuh shffuf af efwe fewafjaw jwefgjw.</h3>
        </div>
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/pin.png">
            <h3 class="text-center step_text">Lorem ipsum factum asfdkafj dsafaf fh asfouafh ashfu huhhsafuh shffuf af efwe fewafjaw jwefgjw.</h3>
        </div>
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/calendar.png">
            <h3 class="text-center step_text">Lorem ipsum factum asfdkafj dsafaf fh asfouafh ashfu huhhsafuh shffuf af efwe fewafjaw jwefgjw.</h3>
        </div>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/check-list.png">
            <h3 class="text-center step_text">Lorem ipsum factum asfdkafj dsafaf fh asfouafh ashfu huhhsafuh shffuf af efwe fewafjaw jwefgjw.</h3>
        </div>
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/message.png">
            <h3 class="text-center step_text">Lorem ipsum factum asfdkafj dsafaf fh asfouafh ashfu huhhsafuh shffuf af efwe fewafjaw jwefgjw.</h3>
        </div>
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/home.png">
            <h3 class="text-center step_text">Lorem ipsum factum asfdkafj dsafaf fh asfouafh ashfu huhhsafuh shffuf af efwe fewafjaw jwefgjw.</h3>
        </div>
    </div>
</div>