<div id="home" class="container">
    <div class="col-md-12 row">
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/map.png">
            <h3 class="text-center step_text">1. Open the map available on the left side</h3>
        </div>
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/pin.png">
            <h3 class="text-center step_text">2. Select the places you want to visit</h3>
        </div>
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/calendar.png">
            <h3 class="text-center step_text">3. Select a range of dates for the trip</h3>
        </div>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/check-list.png">
            <h3 class="text-center step_text">4. Let our app find the cheapest route</h3>
        </div>
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/message.png">
            <h3 class="text-center step_text">5. Book the flights and enjoy your trip</h3>
        </div>
        <div class="col-md-4">
            <img class="center-block img-responsive" src="./resources/images/home.png">
            <h3 class="text-center step_text">6. Be back home still having money in your pocket!</h3>
        </div>
    </div>
</div>