<div id="loader"></div>
<div data-ng-controller="FormController" class="form-container">
    <form class="form-style-9 center-block">
        <ul>
            <li>
                <input type="text" name="originCity" class="field-style field-split align-left" placeholder="From" />
                <input type="date" name="startDate" class="field-style field-split align-right" placeholder="Date" />
            </li>
            <li>
                <input type="text" name="destinationCity" class="field-style field-split align-left" placeholder="To" />
                <input type="date" name="endDate" class="field-style field-split align-right" placeholder="Date" />
            </li>
            <li>
                <label>Cities to visit:</label>
                <div data-ng-repeat="city in cities">
                    <input type="text" data-ng-keydown="onEnterClick($event)" name="" data-ng-model="city.id" class="field-style field-full align-none cities_to_visit" placeholder="Add a city to visit" />
                </div>
            </li>
            <li>
                <button style="display: none"></button>
                <input type="submit" data-ng-click="uploadData()" class="submit_button" value="Send Message" />
            </li>
        </ul>
    </form>
</div>

<div id="map">
    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.2),
                disableDefaultUI: true,
                draggable: false,
                zoom: 3,
                mapTypeId: 'satellite'
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCae5qjNTc_T1LFkfjyjqfyfsIlZbuEMn8&callback=myMap"></script>
</div>